name: Release

on:
  release:
    types: [published]

jobs:
  checks:
    name: Check version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12.12

      - name: Install Poetry
        uses: Gr1N/setup-poetry@v8
        with:
          poetry-version: "1.8.3"

      - name: Check project version matches tag name
        run: |
          [ "`poetry version --short`" == "${{ github.ref_name }}" ]
